.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 20%;
}

.row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    flex: 33.3%;
    padding: 5px;
}



p.letters {
    word-wrap: break-word;
}

pre.letters {
    word-wrap: break-word;
}

pre {
    white-space: pre-wrap;
    font-family: Verdana
}
