html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #f1f1f1;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}



.card-login {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    width: 35%;
    border-radius: 5px;
}

/*.btn-secondary {
    background-color: #6a994e !important;
    border-color: #6a994e !important;
}*/

.btn-primary {
    background-color: #344e41 !important;
    border-color: #344e41 !important;
}








.dropbtn {
   /* background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;*/
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

pre {
    white-space: pre-wrap;
    font-family: Verdana
}