@page
@model TennisProjekt24.Pages.Courts.DeleteCourtModel
@{
    ViewData["Title"] = "Delete court";
}

<head>
    <link rel="stylesheet" href="~/css/delete.css" asp-append-version="true" />
</head>

<h1>Slet bane</h1>


<div class="card">

    <form method="post">

        <div class="form-group">
            <table>

                <tr>
                    <th>Lokation</th>
                    @if (Model.DeleteCourt.Outdoor)
                    {
                        <td>Udendørs</td>
                    }
                    else
                    {
                        <td>Indendørs</td>
                    }

                </tr>
                <tr>
                    <th>Bane nummer</th>
                    <td>@Model.DeleteCourt.CourtNumber</td>
                </tr>
                <tr>
                    <th>Banetype</th>
                    <td>@Model.DeleteCourt.CourtType</td>
                </tr>

            </table>

        </div>

        <br />
        <input type="submit" asp-page-handler="Delete" asp-route-courtId="@Model.DeleteCourt.CourtId" value="Slet bane" class="btn btn-danger" />
        <a asp-page="Index" class="btn btn-secondary">Tilbage</a>


    </form>

</div>