@page
@model TennisProjekt24.Pages.Courts.IndexModel
@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<h1>Baner</h1>

<div class="card">

    <div>
        <a asp-page="/Courts/CreateCourt" class="btn btn-primary">Opret bane</a>
    </div>
    <br />
    <br />

<table class="table">
    <thead>
        <tr>
            <th>
                Udendørs
            </th>
            <th>
                Nummer
            </th>
            <th>
                Type
            </th>
            <th>
                Tilgængelig
            </th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @if (Model.Courts.Count() != 0)
        {
            @foreach (var item in Model.Courts)
            {
                <tr>
                    <td>
                        @if(item.Outdoor)
                        {
                            <div> Udendørs </div>
                        }
                        else
                        {
                            <div> Indendørs </div>
                        }
                    </td>
                    <td>
                        @item.CourtNumber
                    </td>
                    <td>
                        @item.CourtType
                    </td>
                    <td>
                        @if(item.Availability)
                        {
                            <div> Tilgængelig </div>
                        } else
                        {
                            <div> Utilgængelig </div>
                        }
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Courts/DeleteCourt" asp-route-courtId="@item.CourtId" class="btn btn-primary">Slet</a>
                                &nbsp;
                            <a asp-page="/Courts/UpdateCourt" asp-route-courtId="@item.CourtId" class="btn btn-primary">Opdater</a>
                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

</div>
<br />
<a asp-page="/Bookings/FancyIndex" class="btn btn-secondary">Tilbage</a>
