@page
@model TennisProjekt24.Pages.Courts.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h4>Baner</h4>

<a asp-page="/Courts/CreateCourt" class="btn btn-primary">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Udendørs
            </th>
            <th>
                Nummer
            </th>
            <th>
                Type
            </th>
            <th>
                Tilgængelig
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Courts.Count() != 0)
        {
            @foreach (var item in Model.Courts)
            {
                <tr>
                    <td>
                        @if(item.Outdoor)
                        {
                            <div> Udendørs </div>
                        }
                        else
                        {
                            <div> Indendørs </div>
                        }
                    </td>
                    <td>
                        @item.CourtNumber
                    </td>
                    <td>
                        @item.CourtType
                    </td>
                    <td>
                        @if(item.Availability)
                        {
                            <div> Tilgængelig </div>
                        } else
                        {
                            <div> Utilgængelig </div>
                        }
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Courts/DeleteCourt" asp-route-courtId="@item.CourtId" class="btn btn-primary">Slet</a>
                            <a asp-page="/Courts/UpdateCourt" asp-route-courtId="@item.CourtId" class="btn btn-primary">Opdater</a>
                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
