@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TennisProjekt24</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TennisProjekt24.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    @if (ViewData["ErrorMessage"] != null)
    {

        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["ErrorMessage"]");
            }
        </script>
        ViewData["ErrorMessage"] = null;

    }


    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Gadevang Tennisklub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navbar">
                    <ul class="navbar-nav flex-grow-1">
                       @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li> *@
                        
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Courts/Index">Baner</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Practices/Index">Træningshold</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Instructors/Index">Trænere</a>
                        </li>
                      @*   <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Members/Index">Medlemmer</a>
                        </li> *@
                       @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Members/LogIn">Log ind</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Members/Profile">Min side</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Events/Index">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/NewsPosts/Index">Nyheder</a>
                        </li>
                       @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Bookings/Index">Booking</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Bookings/FancyIndex">Booking</a>
                        </li>
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32("MemberId") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/BuddyForums/Index">Find Makker</a>
                            </li>
                        }
                    </ul>
                    @using Microsoft.AspNetCore.Http;
                    @inject IHttpContextAccessor HttpContextAccessor
                    @if (HttpContextAccessor.HttpContext.Session.GetInt32("MemberId") == null)
                    {
                        <a class="btn btn-primary rounded-pill" asp-area="" asp-page="/Members/LogIn">
                            <span class="text-light">Log ind</span>
                        </a>
                    }
                    else
                    {
                        @* <a class="btn btn-success rounded-pill" asp-area="" asp-page="/Members/Profile">
                            <span>Min profil</span>
                        </a> *@

                        <div class="dropdown">
                            <button onclick="dropDown()" class="dropbtn rounded-pill btn btn-primary">Profil &#9660;</button>
                            <div id="myDropdown" class="dropdown-content">
                                <a asp-page="/Members/Profile">Min profil</a>
                                <a asp-page="/Members/LogIn" asp-page-handler="Logout">Log ud</a>
                            </div>
                        </div>


                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TennisProjekt24 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        
        function dropDown() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>


</body>
</html>