@page
@model TennisProjekt24.Pages.Bookings.FancyIndexModel
@{
    ViewData["Title"] = "Index - Fancy";
}



    
@foreach (var item in Model.Courts)
{

    <p>@item.CourtId</p>
    

    foreach (var ting in Model.Bookings.Where(c => c.Court == item.CourtId))
    {

        @* <p>@ting.Court</p> *@
        <p>@ting.BookingId</p>
        
        



    }




}
