@page
@model TennisProjekt24.Pages.Calender.IndexModel
@using Helpers;
@{
    ViewData["Title"] = "Calender";
}

<table class="table">
    <thead>
        <tr>
            @foreach (var weekDay in System.Enum.GetValues(typeof(weekDays)))
            {
                <th>
                    @weekDay.ToString()
                </th>
            }
        </tr>
    </thead>
    @for (int i = 1; i <= DateTime.DaysInMonth(Model.CurrentYear, Model.CurrentMonth); i++)
    {
        <tbody>
            <tr>
            @foreach (var weekDay in System.Enum.GetValues(typeof(weekDays)))
            {
                @if ((int)Model.CurrentDay.DayOfWeek == (int)weekDay)
                {
                    <th>
                        @Model.CurrentDay
                    </th>
                }
            }
            </tr>
        </tbody>
        Model.CurrentDay = Model.CurrentDay.AddDays(1);
    }
</table>