@page
@model TennisProjekt24.Pages.Calender.IndexModel
@using Helpers;
@{
    ViewData["Title"] = "Calender";
}
<style>
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.container {
  padding: 2px 16px;
}
</style>

<table class="table">
    <thead>
        <tr>
            @foreach (var weekDay in System.Enum.GetValues(typeof(weekDays)))
            {
                <th>
                    @weekDay.ToString()
                </th>
            }
        </tr>
    </thead>

    @for (int i = 1; i <= DateTime.DaysInMonth(Model.CurrentYear, Model.CurrentMonth); i++)
    {
        <tbody>
            @foreach (var weekDay in System.Enum.GetValues(typeof(weekDays)))
            {
                <tr>
                    @if ((int)Model.CurrentDay.DayOfWeek == (int)weekDay - 1)
                    {
                        <td>
                            @i
                        </td>
                    }
                </tr>
            }
        </tbody>
        Model.CurrentDay = Model.CurrentDay.AddDays(1);
    }
</table>